
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="home()">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="product()">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="sales()">Sales</a>
        </li>
      </ul>
      <span class="navbar-text" (click)="logout()">
        Logout
      </span>
    </div>
  </nav>
  
<div class="container">
    <div *ngIf="salelist">
        <div class="txt-color " >Sales Table</div>

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Amount Q1</th>
                <th>Amount Q2</th>
                <th>Amount Q3</th>
                <th>Total Amount</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
             
            
            <tr *ngFor="let list of salelist | async">
                
                <th scope="row" *ngIf ="list.productid !=null">{{ list.productid }}</th>
                <td *ngIf ="list.productid !=null">{{ list.productname }}</td>
                <td *ngIf ="list.productid !=null">{{ list.amount / 3}}</td>
                <td *ngIf ="list.productid !=null"> {{ list.amount / 3}}</td>
                <td *ngIf ="list.productid !=null">{{ list.amount / 3}}</td>
                <td *ngIf ="list.productid !=null">{{ list.amount}}</td>
               
                <td *ngIf ="list.productid !=null">
                    <button class="btn btn-primary mr-1" (click)="edit(list)">Edit</button>
                    <button class="btn btn-primary" (click)="delete(list.productid)">Delete</button>
                </td>
           
            </tr>
            </tbody>
        </table>
    </div>
</div>
