<!-- As a link -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="home()">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="product()">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="sales()">Sales</a>
        </li>
      </ul>
      <span class="navbar-text" (click)="logout()">
        Logout
      </span>
    </div>
  </nav>
  
<div class=" mt-3 ">
    <div class="txt-center">
       
        <div >MOVE TO MOBILITY</div>

        <div >Welcome to Mobility Product & Sale</div>

    </div>
</div>
